<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="lib/angular.min.js"></script>
    <script src="app/apps_library.js"></script>
    <link rel="stylesheet" href="css/style.css">
    
    <title>Rегионална библиотека "П. К. Яворов" - Angular.js</title>

</head>
<body>
    <div class="about">
    <p>Добре дошли в регионална библиотека <b>"П. К. Яворов" - Бургас</b>!</p>
</div>

    <p>Изберете книгата, която търсите</p>
    <div ng-app="LibraryApp" ng-controller="DefaultController">
        <input class="input-search" type="text" ng-model='search' placeholder="Въведи текст">
        
        <label for="">Сортирай по:</label>
        <button class="btn-sort" ng-click="sort='title'">Заглавие А-Я</button>
        <button class="btn-sort" ng-click="sort='author'">Автор</button>
        <button class="btn-sort" ng-click="sort='pages'">Страници</button>
        <button class="btn-sort" ng-click="sort='year'">Година на издаване</button>
        <button class="btn-sort" ng-click="sort='covers'">Корици</button>
        

        <div class="container">
            <div class="main-book" ng-repeat="book in books | orderBy: sort | filter: search ">
                <div class="book-img">
                    <img ng-src="{{book.src}}"/>
                </div>
                <div class="book-info">
                <h3>{{ book.title }}</h3>
                <p><b>Автор: {{ book.author }}</b></p>
                <p>Страници: {{ book.pages }}</p>
                <p>Година на издаване: {{ book.year }}</p>
                <p>Корици: {{ book.covers }}</p>
                </div> 
            </div>
        </div>
    </div>

    <footer>
        <p>Copyright &copy; Powered by <span><a href="https://darenadokova.com/" target="_blank">Darena Dokova</a></span></p>
        
    </footer>

</body>
</html>